
@{
    ViewData["Title"] = "ProductCards";
}

<!--For Page-->
<div class="page">
    <div>

    <p><a href="">Family Cars</a></p>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/ad2cdcf6cc044c0b92658b888d234b32.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Chevrolet Camaro SS</a></strong></h4> <!-- Card Description-->
                    <p class="card-text">This is a Mobile phone with all the advance features and at best price. </p>
                    <p class="price">$50</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

    <p><a href="">Luxury Cars</a></p>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/ad2cdcf6cc044c0b92658b888d234b32.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Chevrolet Camaro SS</a></strong></h4> <!-- Card Description-->
                    <p class="card-text">This is a Mobile phone with all the advance features and at best price. </p>
                    <p class="price">$50</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

    <p><a href="">Budget Cars</a></p>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/ad2cdcf6cc044c0b92658b888d234b32.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Chevrolet Camaro SS</a></strong></h4> <!-- Card Description-->
                    <p class="card-text">This is a Mobile phone with all the advance features and at best price. </p>
                    <p class="price">$50</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Audi SQ5 PRESTIGE</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Alfa Romeo Giulia TI NAV</a></strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
