@model IEnumerable<Ecom.Models.Product>

@{
    ViewData["Title"] = "ProductCards";
}

<!--For Page-->
<div class="page">


    <div>
            <h3><a href="">Family Cars</a></h3>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!-- FIRST ADD IMAGES TO DB TABLE 
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/a91482ef89964320a366d84883af4fc5.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> 
                    </div>Card image-->
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    @foreach(var p in Model)
                    {
                            
                        <h4 class="card-title"><strong>@p.ProductName</strong></h4> <!-- Card Description-->
                    <p class="card-text">blah blah blah or @p.CategoryID</p>
                    <p class="price">$ @p.ListPrice</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                     }
                </div>
            </div>
        </div>


    </div>

@*    <div>

    <h3><a href="">Family Cars</a></h3>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/a91482ef89964320a366d84883af4fc5.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Dodge Grand Caravan SE</strong></h4> <!-- Card Description-->
                    <p class="card-text">This car can seat your family and cousins. It's great for driving. </p>
                    <p class="price">$50</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/b1bde348e15a499ebac767a0a4e7e8ac.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Chrysler Pacifica LTD NAV</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with wheels watermelon soda. Treat yo self 2022. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/9fad3da1e41843018899015251f473c8.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Dodge Grand Caravan GT NAV</strong></h4>
                    <!--Description-->
                    <p class="card-text">Fast car for your family and friends. Can dodge bullets like no other. </p>
                    <p class="price">$79</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/09473227ef584d719a52e06c08c206f7.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Honda Odyssey ELITE NAV</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for acrobats </p>
                    <p class="price">$55</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 5-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/c7e502ce63414a44a9c9e9bf2f78d8b7.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Kia Sedona EXTREME</strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart car with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$98</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

    <h3><a href="">Luxury Cars</a></h3>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/ad2cdcf6cc044c0b92658b888d234b32.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Chevrolet Camaro SS</strong></h4> <!-- Card Description-->
                    <p class="card-text">This is a car with all the advance features and at best price. </p>
                    <p class="price">$288</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/7f1e8b6ec67d4c4fbe38bc83759aa682.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Audi SQ5 PRESTIGE</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Prestigeous nobel price nominee for it's advanced passenger seat. </p>
                    <p class="price">$309</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/34451a9ddd1e42448db00fef06a92da6.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Alfa Romeo Giulia TI NAV</strong></h4>
                    <!--Description-->
                    <p class="card-text">Is it maroon or moroon? Nobody knows. Sleep in the trunk special. </p>
                    <p class="price">$400</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/dc075e23f3e240a6a58bfdeb73d9ce6a.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Acura MDX TECHNOLOGY ASPEC</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">I mean, it's a blue car. A blue car. Can you believe it? You better believe it.</p>
                    <p class="price">$700</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 5-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/986f0bc9a0f448dbb2c836b831072296.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Chevrolet Corvette Z06 2LZ</strong></h4>
                    <!--Description-->
                    <p class="card-text">Evidently, this is not a blue car. It doesn't have black and white stripes. You can look in the backmirror. </p>
                    <p class="price">$1888</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

    <h3><a href="">Budget Cars</a></h3>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/4bad21e2890c4277bcb988d10069f6dd.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Acura TSX TECHNOLOGY</strong></h4> <!-- Card Description-->
                    <p class="card-text">This is a Mobile phone with all the advance features and at best price. </p>
                    <p class="price">$50</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/40dc37bba0a745ec921c7ae7c9791660.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Audi A3 PREMIUM</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 3-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/fe8528e5e8bd4f7cb304a4f73a5dbeef.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>BMW 5-Series 535I NAV</strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price">$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 4-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/b4e718f21095464f802c61a999875728.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Buick Encore CONVENIENCE</strong></h4>
                    <!--Card Description-->
                    <p class="card-text">Comes with advance sensors, this is a perfect match for photographers. </p>
                    <p class="price">$60</p> 
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 5-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/a1a12748e8de40aa82df958593ae6eed.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong>Chrysler 200 LTD NAV</strong></h4>
                    <!--Description-->
                    <p class="card-text">Smart watch with Easy-to-go connect option and fitness tracking functions. </p>
                    <p class="price" >$70</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p><button class="btn btn-success">ADD TO CART</button></p>
                    </div>
                </div>
            </div>
        </div>
*@

    </div>
