@model IEnumerable<Ecom.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<table class="table">
    <thead>
        <tr>
            <th>

                <h1>Categories</h1>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="card" style="width: 18rem;">@*
                        <img src="..." class="card-img-top" alt="...">*@
                        <div class="card-body">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.CategoryName)</h5>
                        </div>
                    </div>
                   
                </td>
                <td>

                    
                </td>
            </tr>
        }
    </tbody>
</table>

@*
<div class="page">


    <div>
            <h3><a href="">Family Cars</a></h3>
    <!--For Row containing all card-->
    <div class="row">

        <!--Card 1-->
        <div class="col-sm  ">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!-- FIRST ADD IMAGES TO DB TABLE 
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="https://content.homenetiol.com/698/2163991/1920x1080/a91482ef89964320a366d84883af4fc5.jpg" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> 
                    </div>Card image-->
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    @foreach(var p in Model)
                    {
                            
                        <h4 class="card-title"><strong>@p.CategoryName</strong></h4> <!-- Card Description-->
                    <p class="card-text">blah blah blah or @p.CategoryID</p>
                   
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>
                            <button type="submit" class="btn btn-success">
                                                <a asp-area="" asp-controller="Product" asp-action="AddProductToCard" asp-route-id="@p.CategoryID">Add to the Card through asp-tags</a></button>

                            </p>
                    </div>
                     }
                </div>
            </div>
        </div>


    </div>*@