html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#checkout {
    float: right;
    position:sticky;
}
#discount1 {
    float:right;
    position:sticky;
}
#img {
    width: 45px;
}